.section {
    background-color: #626262;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border-radius: 10px;
}

.main {
    background-color: #9B9B9B;
    width: 355.41px;
    height: 181px;
    border-radius: 15px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.balanceSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title {
    font-size: 30px;
    font-weight: 700;
    line-height: 34.47px;
    text-align: left;
}

.amount {
    font-size: 30px;
    font-weight: 700;
    line-height: 34.47px;
    text-align: left;
}

.walletAmount {
    color: #9DFF5B;
}

.expenseAmount {
    color: #F4BB4A;
}

.expenseButton {
    background: linear-gradient(90deg, #FF9595 0%, #FF4747 80%, #FF3838 100%);

}

.btn {
    font-family: 'ubuntu';
    color: #fff;
    padding-inline: 43px;
    padding-block: 14px;
    border: none;
    border-radius: 20px;
    margin-top: 1rem;
    font-size: 15px;
}

.incomeButton {
    background: linear-gradient(90deg, #B5DC52 0%, #89E148 100%);
}