.recentTransactions>h1 {
    color: #fff;
    font-family: 'ubuntu';
}

.transactions-container {
    background: #fff;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
}

.name-date-icon {
    display: flex;
    justify-content: center;
}

.img {
    height: 33px;
    margin: 14px;
}

.name-date {}

.icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #D9D9D9;
}