html {
    background-color: #3B3B3B;
    font-family: 'ubuntu';
    padding: 10px;
}

.App-header {
    color: #fff;
    font-family: Ubuntu;
    font-size: 32px;
    font-weight: 700;
    line-height: 36.77px;
    text-align: left;

}